.root
{
    width: 375px;
    height: 100%;

    background-color: #f7f8fa;

    :global
    {
        .navbar
        {
            background-color: transparent;
        }

        .commit-btn
        {
            font-size: 17px;

            color: #fc6627;
        }

        .edit-input-content
        {
            padding: 0 16px;

            h3
            {
                font-size: 17px;

                padding: 15px 0;

                color: #333;
            }

            .input-wrap
            {
                height: 44px;
                padding-left: 16px;

                background-color: #fff;

                input
                {
                    font-size: 14px;

                    height: 44px;
                }
            }

            .textarea
            {
                --font-size: 14px;

                padding: 16px;
                padding-bottom: 8px;

                border-radius: 4px;
                background-color: #fff;

                .adm-text-area-count
                {
                    font-size: 12px;
                }
            }
        }
    }
}
